/* index.css or App.css */
html,
body,
#root {
	height: 100%;
	margin: 0;
	background-color: var(--surface-ground); /* from the theme */
	color: var(--text-color); /* ensures contrast */
}

.layout-content {
	padding: 1.5rem;
	background-color: var(--surface-card); /* matches demo site content */
	border-radius: 8px;
}

.p-button.p-button-outlined.p-button-faint-gray {
	border-color: rgba(255, 255, 255, 0.1); /* gray-600 */
	color: white;
}

.p-button.p-button-outlined.p-button-faint-gray:hover {
	background: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1); /* gray-600 */
	color: white;
}

.sidebar-collapsed .p-dropdown-trigger-icon {
	display: none !important;
}

.sidebar-collapsed .p-dropdown {
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-collapsed .p-dropdown-trigger {
	display: none !important;
}

.sidebar-collapsed .p-dropdown-label {
	padding: 0 !important;
	text-align: center;
}
